<div id="loading_cover" class="loading_cover hide"><p>Loading</p></div>
<div id="overview_left" class="overview_left">

	<div id="overview_contacts" class="box overview_contacts">
    <%= render 'index/partials/overview_contacts' %>
	</div>

  <div id="overview_employees" class="box overview_employees">
    <%= render 'index/partials/overview_employees' %>
  </div>

	<div id="overview_properties" class="box overview_properties">
    <%= render 'index/partials/overview_properties' %>
	</div>

  <div id="overview_notes" class="box overview_notes">
    <%= render 'index/partials/overview_notes' %>
  </div>
</div>

<div id="overview_right" class="overview_right">
	<div id="overview_info" class="box">
		<%= render "index/partials/file_info" %>
	</div>
	<div id="overview_stages" class="box">
    <%= render 'index/partials/overview_stages' %>
	</div>
</div>