<!-- 700 Section -->
<table border="1" width="908" style="text-align:left;">
  <%= f.fields_for :hud_lines do |builder| %>
    <tr>
      <% if builder.object.number >= 700 && builder.object.number <= 799 %>
        <%= render 'huds/partials/full-line', :f => builder %>
      <% end %>
    </tr>
  <% end %>
</table><br />
<!-- 800 Section -->
<table border="1" width="908" style="text-align:left;">
  <%= f.fields_for :hud_lines do |builder| %>
    <tr>
    <% if builder.object.number >= 800 && builder.object.number <= 899 %>
      <%= render 'huds/partials/full-line', :f => builder %>
    <% end %>
    </tr>    
  <% end %>
</table><br />
<!-- 900 Section -->
<table border="1" width="908" style="text-align:left;">
  <%= f.fields_for :hud_lines do |builder| %>
    <tr>
    <% if builder.object.number >= 900 && builder.object.number <= 999 %>
      <%= render 'huds/partials/full-line', :f => builder %>
    <% end %>
    </tr>
  <% end %>
</table><br />
<!-- 1000 Section -->
<table border="1" width="908" style="text-align:left;">
  <%= f.fields_for :hud_lines do |builder| %>
    <tr>
    <% if builder.object.number >= 1000 && builder.object.number <= 1099 %>
      <%= render 'huds/partials/full-line', :f => builder %>
    <% end %>
    </tr>
  <% end %>
</table><br />
<!-- 1100 Section -->
<table border="1" width="908" style="text-align:left;">
  <%= f.fields_for :hud_lines do |builder| %>
    <tr>
    <% if builder.object.number >= 1100 && builder.object.number <= 1199 %>
      <%= render 'huds/partials/full-line', :f => builder %>
    <% end %>
    </tr>
  <% end %>
</table><br />
<!-- 1200 Section -->
<table border="1" width="908" style="text-align:left;">
  <%= f.fields_for :hud_lines do |builder| %>
    <tr>
    <% if builder.object.number >= 1200 && builder.object.number <= 1299 %>
      <%= render 'huds/partials/full-line', :f => builder %>
    <% end %>
    </tr>
  <% end %>
</table><br />
<!-- 1300 Section -->
<table border="1" width="908" style="text-align:left;">
  <%= f.fields_for :hud_lines do |builder| %>
    <tr>
    <% if builder.object.number >= 1300 && builder.object.number <= 1399 %>
      <%= render 'huds/partials/full-line', :f => builder %>
    <% end %>
    </tr>
  <% end %>
</table><br />
