<div id="ss" class="ss <%= "print" unless @print.blank? %>">
  <%= form_for @doc.settlement_statement, html: {id: "settlement_statement_form", data: {id: @doc.settlement_statement.id}}, remote: true do |f| %>
    <%= f.fields_for :ss_sections, f.object.ordered_sections do |section| %>
      <div class="ss_row">
        <div id="ss_company_title">
          <h1 class="upper">{{COMPANY_NAME}}</h1>
          <h2>{{COMPANY_ADDRESS}}, {{COMPANY_CITY}}, {{COMPANY_STATE}} {{COMPANY_ZIP}}</h2>
        </div>
        <div class="ss_doc_title">
          <p class="label"><%= section.object.name.upcase %>'S SETTLEMENT STATEMENT</p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="ss_row">
        <table>
          <tr>
            <td class="ss_box_title label ss_w50 ss_box">Seller</td>
            <td class="ss_vert_spacer"></td>
            <td class="ss_box_title label ss_box">Buyer</td>
          </tr>
          <tr>
            <td class="ss_box ss_info">
                {{GRANTOR_NAMES}}<br />
                {{GRANTOR_ADDRESS_1}} {{GRANTOR_ADDRESS_2}}<br />
              <% if @print.blank? %>
                {{GRANTOR_CITY}}, {{GRANTOR_STATE}} {{GRANTOR_ZIP}}
              <% else %>
                {{GRANTOR_CSZ}}
              <% end %>
            </td>
            <td></td>
            <td class="ss_box ss_info">
              {{GRANTEE_NAMES}}<br />
              {{GRANTEE_ADDRESS_1}} {{GRANTEE_ADDRESS_2}}<br />
              <% if @print.blank? %>
                {{GRANTEE_CITY}}, {{GRANTEE_STATE}} {{GRANTEE_ZIP}}
              <% else %>
                {{GRANTEE_CSZ}}
              <% end %>
            </td>
          </tr>
        </table>
      </div>
      <div class="ss_row">
        <table>
          <tr>
            <td class="ss_box_title ss_box label ss_w75">Property Address/Description</td>
            <td class="ss_vert_spacer"></td>
            <td class="ss_box_title ss_box  label">Closing Date</td>
          </tr>
          <tr>
            <td rowspan="3" class="ss_box">{{PROPERTY_ADDRESS}}<br />
              <% if @print.blank? %>
                {{PROPERTY_CITY}}, {{PROPERTY_STATE}} {{PROPERTY_ZIP}}
              <% else %>
                {{PROPERTY_CSZ}}
              <% end %>
              <br />
              <% legal = @doc.file_doc_fields.where("tag = 'PROPERTY_LEGAL_DESCRIPTION' AND value != '' AND is_active = 1").first %>
              <% legal == nil ? legal = @file.file_doc_fields.where("doc_id = 0 AND tag = 'PROPERTY_LEGAL_DESCRIPTION' AND is_active = 1").first.value : legal = legal.value %>
              <%= (legal.length < 50 ? "{{PROPERTY_LEGAL_DESCRIPTION}}" : "{{PROPERTY_TAX_ID}}") unless legal.nil? %>
            </td>
            <td></td>
            <td class="ss_box ss_half_info">{{CLOSING_DATE}}</td>
          </tr>
          <tr>
            <td></td>
            <td class="ss_box_title ss_box  label">Order Number</td>
          </tr>
          <tr>
            <td class="ss_hide_bottom"></td>
            <td class="ss_box ss_half_info">{{FILE_ID_NUMBER}}</td>
          </tr>
        </table>
      </div>
      <div class="tru_container">
        <div class="tru_new_line tru_header_line">
          <div class="tru_11"></div>
          <div class="tru_header">Charges</div>
          <div class="tru_header">Credits</div>
          <div class="tru_clear"></div>
        </div>
        <div id="section_<%= section.object.name.downcase %>" class="section">
          <div class="spinner_cover"><span>Updating...</span></div>
          <%= section.fields_for :ss_lines, section.object.ordered_lines do |line| %>
            <%= render "settlement_statements/partials/normal", f: f, section: section, line: line %>
          <% end %>
        </div>
      </div>
      <div class="ss_row">
        <div>{{CB_FINAL_2}} Preliminary <span class="ss_push_left_10">{{CB_FINAL_1}} Final</span></div>
      </div>
      {{<%= section.object.name.upcase %>_SIGNATURES}}
      <div class="ss_w45">
        <table class='signature_container ss_closer_sig'>
          <tr>
            <td colspan='2'><h4>{{COMPANY_NAME}}</h4></td>
          </tr>
          <tr>
            <td class="ss_w5">By: </td>
            <td class="ss_w70 ss_sig_line" colspan='2'></td>
          </tr>
          <tr>
            <td></td>
            <td>{{CLOSER_NAME}}</td>
          </tr>
        </table>
      </div>
      <%= "{{PAGE_BREAK}}" if section.object.name.downcase == "seller" %>
    <% end %>
  <% end %>
</div>

<script type="text/javascript">
  var viewModel = new window.ss_vm(<%= raw @doc.settlement_statement.to_json(include: {ordered_sections: {include: {ordered_lines: {include: [:ordered_cells]}}}}).gsub("</", "<\\/") %>);
  ko.cleanNode($("#ss")[0]);
  ko.applyBindings(viewModel, $("#ss")[0]);
  set_disbursement_autocomplete();
</script>