<div id="ss">
  <div style="margin-bottom: 1em; text-align: center;" id="hud_title">
    <h1 style="text-align: center; text-transform: uppercase; font-size: .5em;">{{COMPANY_NAME}}</h1>
    <h2 style="font-size: .4em;">{{COMPANY_ADDRESS}}</h2>
    <h2 style="font-size: .4em;">{{COMPANY_CITY}}, {{COMPANY_STATE}} {{COMPANY_ZIP}}</h2>
    <h2 style="margin: 1em; font-size: .75em;">LOAN SETTLEMENT STATEMENT</h2>
  </div>

  <table>
    <tr>
      <td class="hud_border">
        <table>
          <tr>
            <td class="hud_box_title">Borrower</td>
          </tr>
          <tr>
            <td style="height: 3.5em;">{{GRANTEE_NAMES}}</td>
          </tr>
        </table>
      </td>
      <td style="width: 10%;">&nbsp;</td>
      <td style="width: 10%;">&nbsp;</td>
      <td class="hud_border" colspan="2">
        <table>
          <tr>
            <td class="hud_box_title">Lender</td>
          </tr>
          <tr>
            <td style="height: 3.5em;">{{LENDER_NAME}}</td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td colspan="5">&nbsp;</td>
    </tr>

    <tr>
      <td class="hud_border">
        <table>
          <tr>
            <td class="hud_box_title">Borrower's Address</td>
          </tr>
          <tr>
            <td style="height: 2.5em;">
              {{GRANTEE_ADDRESS_1}} {{GRANTEE_ADDRESS_2}}<br />
              {{GRANTEE_CITY}}, {{GRANTEE_STATE}} {{GRANTEE_ZIP}}
            </td>
          </tr>
        </table>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="hud_border" colspan="2">
        <table>
          <tr>
            <td class="hud_box_title">Lender Address</td>
          </tr>
          <tr>
            <td style="height: 2.5em;">
              {{LENDER_ADDRESS_1}} {{LENDER_ADDRESS_2}}<br />
              {{LENDER_CITY}}, {{LENDER_STATE}} {{LENDER_ZIP}}
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td colspan="5">&nbsp;</td>
    </tr>

    <tr>
      <td class="hud_border" colspan="2" rowspan="2">
        <table>
          <tr>
            <td class="hud_box_title">Property Address/Description</td>
          </tr>
          <tr>
            <td style="height: 2.5em;">{{PROPERTY_ADDRESS}}<br />{{PROPERTY_CITY}}, {{PROPERTY_STATE}} {{PROPERTY_ZIP}}
              <br />
              <% legal = @doc.file_doc_fields.where("tag = 'PROPERTY_LEGAL_DESCRIPTION' AND value != '' AND is_active = 1").first %>
              <% legal == nil ? legal = @file.file_doc_fields.where("doc_id = 0 AND tag = 'PROPERTY_LEGAL_DESCRIPTION' AND is_active = 1").first.value : legal = legal.value %>
              <%= legal.length < 50 ? "{{PROPERTY_LEGAL_DESCRIPTION}}" : "{{PROPERTY_TAX_ID}}" %>
            </td>
          </tr>
        </table>
      </td>

      <td>&nbsp;</td>

      <td class="hud_border" style="width: 20%; padding-right: .25em;">
        <table>
          <tr>
            <td class="hud_box_title">Closing Date</td>
          </tr>
          <tr>
            <td style="height: 1.5em; text-align: center;">{{GRANTEE_SIGNING_DATE}}</td>
          </tr>
        </table>
      </td>
      <td class="hud_border" style="width: 20%; padding-left: .25em;">
        <table>
          <tr>
            <td class="hud_box_title">Order Number</td>
          </tr>
          <tr>
            <td style="height: 1.5em; text-align: center;">{{FILE_ID_NUMBER}}</td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td colspan="3">&nbsp;</td>
    </tr>
  </table>

  <table class="ss_body full_content">
      <tr>
        <td style="border-top: none; border-left: none;">&nbsp;</td>
        <td style="text-align: center;">Charges</td>
        <td style="text-align: center;">Credits</td>
      </tr>
    <% condition = "number >=  5000 AND number < 6000" %>
    <% @hud.hud_lines.where("#{condition}").each do |line| %>
      <tr id="hud_row_<%= line.number %>" class="<%= (line.type != nil && line.type != "ss_none") ? line.type : "ss_none trigger" %>" onclick="<%= line.type != nil ? "" : "$.post('/hud_lines/#{line.hud_id}/new_description?line=#{line.number}&hud_id=#{line.hud_id}&type=ss&group=ss');" %>" > 
          <%= render 'huds/partials/full-line', builder: line %>
      </tr>
    <% end %>
  </table>
<div style="margin-top: 5px;">{{CB_FINAL_2}} Preliminary <span style="margin-left: 10px;">{{CB_FINAL_1}} Final</span></div>
{{SS_SIGNATURE_FUNCTION}}
<div style="margin-top: 5px;">{{CB_FINAL_2}} Preliminary <span style="margin-left: 10px;">{{CB_FINAL_1}} Final</span></div>
</div>