<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag '/favicon.ico' %>
    <title>Filetrak - <%= page_name %></title>
    <%= user_styles.html_safe %>
    <%= stylesheet_link_tag    "/assets/themes/default" %>
    <%= stylesheet_link_tag    "/assets/admin" %>
    <%= javascript_include_tag "application", "admin", "overlays" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrapper" class="wrapper">
      <!-- Company Select, Navigation, ect. -->
      <%= render "layouts/partials/header" %>

      <div id="content" class="content">
        <%= yield %>
      </div>
    </div>

        <!-- Overlay Div -->
    <div id="overlay_list"></div>
    <div class="overlay overlay_flash_notice" id="overlay_flash_notice"></div>

  </body>
</html>
